/*bytewebster.com*/
/*bytewebster.com*/
/*bytewebster.com*/
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --primary-color: #171616;
    --secondary-color: #e0c2c0;
}

html {
    font-size: 16px;
}

/* Adjust main content when sidebar collapses */
#sidebarCollapse[aria-expanded="false"] ~ .h-screen {
    margin-left: 0;
}

.secondary-bg {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-primary,
.primary-bg {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
}

.btn-primary:active,
.btn-primary:hover {
    background-color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
    color: #e9dbda;
}
/* Targeting navbar-toggler-icon within the navbar-toggler class */
.secondary-font-color {
    color: var(--secondary-color);
}

.primary-font-color {
    color: var(--primary-color);
}

.navbar-nav {
    list-style: none;
    padding: 0;
}

.nav-item {
    margin-bottom: 5px;
    /* Adjust spacing between items */
}

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

/* Add hover effect */
.nav-link:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
}

.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* dashboard style  */
.dashboard-wrapper {
    margin: 0px 20px;
}
/* dashboard style  */

/* Form Style */
.form-wrapper {
    background-color: var(--secondary-color);
    margin-top: 13px;
    margin-left: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.bg-secondary-soft {
    background-color: rgb(193, 160, 160) !important;
}
.rounded {
    border-radius: 5px !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.file-upload .square {
    height: 250px;
    width: 250px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4;
    background-color: #fff;
    border-radius: 5px;
}
.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(208, 212, 217, 0.5) !important;
}
.btn-success-soft {
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.1);
}
.btn-danger-soft {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1);
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}
/* Form Style */

/* Basic styles for the calendar */
.calander-container {
    width: 800px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    margin: 40px 20px;
    border-radius: 5px;
}
.description {
    margin: 20px 100px 20px 0px;
    font-weight: 300;
}

@media screen and (max-width: 1090px) {
    .calander-container {
        width: 750px;
        display: flex;
    }
}

@media screen and (max-width: 1040px) {
    .calander-container {
        width: 700px;
        display: flex;
    }
}
@media screen and (max-width: 720px) {
    .calander-container {
        width: 650px;
        display: flex;
    }
}
@media screen and (max-width: 670px) {
    .calander-container {
        width: 350px;
        display: block;
        margin: auto;
    }
    .topic,
    .description {
        text-align: center;
        margin: 20px 20px;
    }
}

#calendar {
    max-width: 350px;
    border: 1px solid #ccc;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

.weekdays li {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px 0;
}

.days {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.days li {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
    cursor: pointer;
}

.days li:hover {
    background-color: #f0f0f0;
}

#holidaysList {
    padding: 10px 20px;
}

.today {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.sunday {
    color: red;
    font-weight: bold;
}

.saturday {
    color: blue;
    font-weight: bold;
}

.holiday {
    background-color: rgb(255, 170, 0);
    font-weight: bold;
}

.special-day {
    border-color: #28a745;
    border-width: 2px;
}

.holidays-name {
    font-weight: bolder;
}

/* employee leaves  */
.leaves {
    overflow-x: auto;
}

.leaves table {
    border-collapse: collapse;
    width: 100%;
}

.leaves th,
td {
    text-align: left;
    padding: 8px;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.leave-form-wrapper {
    background-color: var(--primary-color);
    margin-top: 13px;
    margin-left: 18%;
    margin-right: 20px;
    margin-bottom: 20px;
    /* padding: 10px 20px; */
}
