/* #b {
    /* border: 1px solid #000;
background: linear-gradient(208deg, rgba(0, 0, 0, 0.00) 12.38%, #000 82.49%); */
 
/* #k {
    background-image: url(/css/home1.jpeg);
} */

#sign {
        text-align: right;
}

#sign_box {
    display: flex;
    width: 151px;
    height: 65px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 3px solid #000;
    background: #ECC961;
}
#sign_text {
    color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.btn a {
    background-color: black;
}



.pic {
    width: 764px;
    height: 503px;
    margin-top: 229px;
    margin-left: 653px;
    border-radius: 60px;
    Border: 3px solid #FAE38F;
}

.bookbox {
    width: 486px;
height: 90px;
flex-shrink: 0;
border-radius: 0px 70px 70px 0px;
background: #F0E3CA;
}
.book {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sname {
    font-family: Inter;
font-size: 64px;
font-style: italic;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
color: #D8C24C;
text-shadow: -3px 3px 0 #28230A,
              3px 3px 0 #28230A,
              3px -3px 0 #28230A,
             -3px -3px 0 #28230A;

}

#m {
    height:480px;
    width:366px;
}
