#conta {

     padding-top: 50px;
     padding-bottom: 20px;
     text-align: center;


}

#t {
    color: yellow;
}

#a {
    color: #F7E19F;
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   
}

#btn{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background-color: #f63e4e;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;

}

.b{
    color: #F2AA3D;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.c{
    color: black;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 30px;
padding-bottom: 30px;
}

.d{
    color: black;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 1200;
line-height: normal;
padding-top: 30px;
}

.page-content{
    position:relative;

}

#right-aligned-button{
    position:absolute;
    top:0;
    right:0;

}