/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:#ffe4e1;
}

.container {
    display: flex; /* Added */
}

/* Sidebar styles */
aside {
    background-color: #100f0f;
    color: #fff;
    width: 250px;
    min-height: 10vh; /* Updated */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    transition: width 0.3s;
}

aside.collapsed {
    width: 80px;
}

aside button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 5px;
    
    
}




aside nav ul {
    list-style: none;
    margin-top: 5px;
    padding: 0;
    width:235px;
}

aside nav ul li {
   
    padding: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255, 252, 252, 0.05);
}

aside nav ul li:hover{
    background: #f5b9b3;
}

aside nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    display:block;
    
}



aside nav ul li a:hover {
    color: #bbb;
}

/* Main content styles */
main {
    flex: 1;
    padding: 90px;
    background: #e0c2c0;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    flex: 0 0 calc(50% - 10px);
}

.card h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    color: #777;
    font-size: 14px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Collapsed sidebar styles */
aside.collapsed nav ul li a {
    display: none;
}

aside.collapsed #sidebar-toggle::after {
    content: '\2261';
}

aside #sidebar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
   
    outline: none;
    padding: 5px;
}

@media (max-width: 768px) {
    aside {
        width: 50px;
    }

    aside.collapsed {
        width: 80px;
    }

    aside.collapsed #sidebar-toggle::after {
        content: '\2261';
    }
}
/*-- To Do List css Part --*/
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    
    background-size: cover;
    background-position: center;
    top: 5px;
    left: 0px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}



